body {
  margin: 10px;
  background-color: rgb(255, 238, 254);
}
h1{
  text-align: center;
  font-size: 2em;
  color: #fff;
  background-color: rgb(250, 177, 239);
  padding: 10px;
  margin: 0;
}

#message-input{
  width: 79%;
}

button{
  width: 10%;
}

input{
  text-align: center;
  vertical-align: middle;
  width: 20%;
  padding: 5px;
  margin: 10px 02px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

h3, p, span {
  vertical-align: middle;
  margin: 0;
  padding: 2px;
}

.small {
  font-size: 0.6em;
}


.message-card{
  margin: auto;
  max-width: 80%;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ccc;
}